<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <system.webServer>
        <defaultDocument>
            <files>
                <clear />
                <add value="index.php" />
                <add value="index.html" />
                <add value="Default.htm" />
                <add value="Default.asp" />
                <add value="index.htm" />
                <add value="iisstart.htm" />
            </files>
        </defaultDocument>
        <directoryBrowse enabled="false" />
        <httpErrors>
            <remove statusCode="404" subStatusCode="-1" />
            <remove statusCode="403" subStatusCode="-1" />
            <error statusCode="400" path="/index.html" responseMode="ExecuteURL" />
            <error statusCode="403" prefixLanguageFilePath="" path="/error/403.html" responseMode="ExecuteURL" />
            <error statusCode="404" prefixLanguageFilePath="" path="/error/404.html" responseMode="ExecuteURL" />
        </httpErrors>
        <staticContent>
            <mimeMap fileExtension=".php" mimeType="application/octet-stream" />
        </staticContent>
        <security>
            <authorization>
                <add accessType="Allow" users="*" verbs="POST" />
            </authorization>
            <requestFiltering allowDoubleEscaping="true">
                <requestLimits maxAllowedContentLength="104857600" />
                <filteringRules>
                </filteringRules>
                <hiddenSegments>
                </hiddenSegments></requestFiltering>
        </security>
    </system.webServer>
    <system.web>
        <identity impersonate="true" />
        <profile>
            <properties>
                <add allowAnonymous="false" defaultValue="true" name="A" readOnly="false" serializeAs="String" type="System.Boolean" />
            </properties>
        </profile>
	<webServices>
        <protocols>
          <add name="HttpSoap" />
          <add name="HttpPost" />
          <add name="HttpGet" />
          <add name="Documentation" />
        </protocols>
      </webServices>
        <customErrors>
            <error redirect="/error/404.html" statusCode="404" />
        </customErrors>
    </system.web>
</configuration>
