<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <system.webServer>
        <httpErrors>
            <remove statusCode="403" subStatusCode="-1" />
            <error statusCode="403" prefixLanguageFilePath="" path="/error/403.html" responseMode="ExecuteURL" />
        </httpErrors>
        <security>
            <requestFiltering>
                <denyQueryStringSequences>
                    <add sequence="reload" />
                    <add sequence="upload" />
                </denyQueryStringSequences>
            </requestFiltering>
        </security>
    </system.webServer>
</configuration>
