<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <appSettings>
        <add key="system.web/identity@impersonate" value="true" />
    </appSettings>
    <system.webServer>
        <security>
            <requestFiltering>
                <filteringRules>
                    <filteringRule name="f" scanUrl="true" scanQueryString="true">
                        <scanHeaders>
                            <clear />
                            <add requestHeader="HEAD" />
                            <add requestHeader="HOST" />
                        </scanHeaders>
                        <denyStrings>
                            <clear />
                            <add string="upload" />
                        </denyStrings>
                        <appliesTo>
                            <clear />
                        </appliesTo>
                    </filteringRule>
                </filteringRules>
            </requestFiltering>
        </security>
    </system.webServer>
</configuration>
